{% extends 'base.html' %}

{% block content %}

<div class="alert alert-success" role="alert">
    {{object.title}}
</div>
<div class="alert alert-success" role="alert">
    {{object.memo}}
</div>
<div class="alert alert-success" role="alert">
    {{object.priority}}
</div>
<div class="alert alert-success" role="alert">
    {{object.duedate}}
</div>
<a href="{% url 'list' %}" class="btn btn-primary active mb-2" tabindex="-1" role="button" aria-disabled="true">リストに戻る</a>
<a href="{% url 'update'　object.pk %}" class="btn btn-primary active mb-2" tabindex="-1" role="button" aria-disabled="true">編集</a>
{% endblock content %}